<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue - if</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <style>
        ul {
            margin: 0;
        }

        li {
            list-style-type: none;
            cursor: pointer;
            user-select: none;
        }

        .fa {
            width: 15px;
        }
    </style>
</head>

<body>
    <div id="theId">
        <items :model='model' v-for='(model, key, index) in theData'></items>
    </div>

    <script src="./vue.js"></script>
    <script>
        var theData = [
            {
                "data": {
                    "menuName": "项目管理",
                    "menuCode": "",
                },
                "childTreeNode": [{
                    "data": {
                        "menuName": "项目",
                        "menuCode": "BusProject",
                    },
                    "childTreeNode": []
                }, {
                    "data": {
                        "menuName": "我的任务",
                        "menuCode": "BusProject",
                    },
                    "childTreeNode": []
                }, {
                    "data": {
                        "menuName": "人员周报",
                        "menuCode": "BusProject",
                    },
                    "childTreeNode": []
                }]
            }, {
                "data": {
                    "menuName": "数据统计",
                    "menuCode": "BusClock",
                },
                "childTreeNode": []
            }, {
                "data": {
                    "menuName": "人事管理",
                    "menuCode": "",
                },
                "childTreeNode": []
            }, {
                "data": {
                    "menuName": "基础管理",
                    "menuCode": "",
                },
                "childTreeNode": []
            }]
        Vue.component('items', {
            template: `<li>\
                            <span @click='toggle'>
                                <i v-if='isFolder' class="fa " :class="[open?'fa-folder-open':'fa-folder']"></i>
                                <!--isFolder判断是否存在子级改变图标-->
                                <i v-if='!isFolder' class="fa fa-file-text"></i> {{model.data.menuName}}
                            </span>
                            <ul v-show="open" v-if='isFolder'>
                                <items v-for='cel in model.childTreeNode' :model='cel'></items>
                            </ul>
                        </li>`,
            props: ['model'],
            components: {},
            data() {
                return {
                    open: false,
                }
            },
            computed: {
                isFolder: function () {
                    return this.model.childTreeNode && this.model.childTreeNode.length
                }
            },
            methods: {
                toggle: function () {
                    if (this.isFolder) {
                        this.open = !this.open
                    }
                },
            }
        });
        new Vue({
            el: '#theId',
            data: {
                theData: theData,
            }
        })
    </script>


</body>

</html>